*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
}

nav a{
    padding-inline: 15px;
    font-size: small;
    color: antiquewhite;
}

.ri-menu-line{
    display: none;
}

main{
    padding: 75px;
}

input, label{
    display: block;
    margin-bottom: 10px;
}

input{
    padding:5px;
}

.question{
    padding-bottom: 15px;
}